<h1>Round <%= @game.current_round.position %></h1>
<h2>Fire <%= (@game.current_round.fires_count || 0) + 1 %> of 5</h2>
<h3>Current Points: <%= @game.points %></h3>

<% if @game.completed? %>
  <h1>Game Complete!</h1>
  <% if @game.all_ships_sunk? %>
    <h2>You win - all ships sunk!</h2>
  <% else %>
    <h2>You lost - not all ships sunk!</h2>
  <% end %>
<% end %>

<% if @game.ships_sunk.present? %>
  <h3>Ships Sunk:</h3>
  <ul>
    <% @game.ships_sunk.each do |ship| %>
      <li><%= ship.name %> (<%= ship.points %> points)</li>
    <% end %>
  </ul>
<% end %>

<table id="game">
  <tbody>
    <% Game::SIZE.times do |y| %>
      <tr>
        <% Game::SIZE.times do |x| %>
          <td class="<%= cell_status(x + 1, y + 1) %>">
            <% unless @game.completed? or @game.fire_at?(x + 1, y + 1) %>
              <%= link_to "X", game_fires_path(@game, x: x + 1, y: y + 1), method: :post %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
